---
import datosContacto from "../assets/datosContacto.js";
---

<div
  class="flex justify-around p-7 my-7 gap-7 celular:flex-col celular:items-center celular:gap-5"
>
  {
    datosContacto.map((dato) => (
    <div
  class="group celular:min-h-72 celular:w-full hover:shadow-2xl hover:shadow-black hover:after:bg-gradient-to-t hover:after:from-fucsia hover:after:to-negro hover:brightness-125 min-h-96 w-96 relative flex justify-center items-center text-lg rounded-xl overflow-hidden transition-shadow bg-cover bg-center cursor-pointer"
  style={`background-image: url('${dato.image}')`}
>

        <h3 class="group-focus:opacity-0 absolute transition-opacity z-10 font-syne font-bold bg-blanco celular:bg-white bg-opacity-25 px-2">
          {dato.title}
        </h3>
        <p class="group-focus:opacity-100 absolute transition-opacity z-10 opacity-0 font-syne font-bold bg-blanco bg-opacity-25 px-2">
          {dato.info}
        </p>
      </div>
    ))
  }
</div>
