---
const { label } = Astro.props;
const pathname: string = Astro.url.pathname;

const path =
  label === "Inicio" ? "/" : `/${label.toLowerCase().replace(/\s+/g, "-")}`;

const isActive = pathname === path || (label === "Inicio" && pathname === "/");
---

<a
  class={`font-bold py-4 text-black text-2xl  hover:text-verdeOscuro   ${
    isActive ? "border-b-2 border-verdeOscuro" : ""
  }`}
  href={path}
>
  {label}
</a>
