---
const { label } = Astro.props;

// Genera dinámicamente el path basado en el label
const path =
  label === "Inicio"
    ? "/"
    : label === "Contacto"
      ? "/contacto"
      : `/${label.replace(/\s+/g, "-").toLowerCase()}`;

// Verifica la ruta actual en el navegador
const isBrowser = typeof window !== "undefined";
const isActive =
  isBrowser &&
  (window.location.pathname.toLowerCase() === path.toLowerCase() ||
    (label === "Inicio" && window.location.pathname === "/"));
---

<a
  class={`font-bold py-4 text-black text-2xl hover:text-verdeOscuro ${
    isActive ? "border-b-2 border-verdeOscuro" : ""
  }`}
  href={path}
>
  {label}
</a>
