---
const { classList, imageColor } = Astro.props;
const imagePath = `/icons/${imageColor || "dark"}`; 
// Si no se pasa imageColor, por defecto usa "light"
---

<div class={`flex justify-center celular:flex celular:flex-row celular:gap-5 ${classList || ""}`}>
  <a href="#" class="mb-2 no-underline w-6 h-6">
    <img src={`${imagePath}/facebook.png`} alt="Facebook" class="w-6 h-6" />
  </a>
  <a href="https://www.instagram.com/owlyxteam/" target="_blank" rel="noopener noreferrer" class="mb-2 no-underline w-6 h-6">
    <img src={`${imagePath}/instagram.png`} alt="Instagram" class="w-6 h-6" />
  </a>
  <a href="https://www.linkedin.com/company/owlyx/" target="_blank" rel="noopener noreferrer" class="mb-1 no-underline w-6 h-6">
    <img src={`${imagePath}/linkedin.png`} alt="LinkedIn" class="w-6 h-6" />
  </a>
  <a href="https://www.linkedin.com/company/owlyx/" target="_blank" rel="noopener noreferrer" class="mb-1 no-underline w-6 h-6">
    <img src={`${imagePath}/tiktok.png`} alt="LinkedIn" class="w-6 h-6" />
  </a>
</div>
